<!DOCTYPE html>
<html lang="en">
<head>
<title>Pagina Web</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<meta charset="UTF-8">
</head>    
                <body>
                            
                    <div id="main-container">
                        <header>
                            <div id="menu">
                               
                            </div>
                
                            <main>
                                <div class="text">
                                    <i class='bx bxl-facebook-circle' ></i>
                                    <i class='bx bxl-twitter' ></i>
                                    <i class='bx bx-bookmarks' ></i>
                                    <h1>¡Haz conocer tu opinion!</h1>
                                    <p>
                                        Conoce una aplicación entre estudiantes
                                    </p>
                                    <p>
                                        <button (click)="login()">Empezar ahora</button>
                                    </p>
                                </div>
                
                                <div class="image">
                                    <img src="assets/phone.png" width="450" />
                                </div>
                            </main>
                        </header>
                        
                        <div class="section" id="features">
                            <div class="layout layout-left">
                                <div class="text">
                                    <h3>Misión</h3>
                                    <p>Informar y contribuir a las decisiones de los estudiantes</p>
                                </div>
                                <div class="image">
                                    <img src="assets/draw.png" alt="">
                                </div>
                            </div>
                
                            <div class="layout layout-right">
                                
                                <div class="image">
                                    <img src="assets/mobile_screen.png" alt="">
                                </div>
                                <div class="text">
                                    <h3>Visión</h3>
                                    <p>Ser un programa de benefició a la sociedad, para su uso continuo, que beneficie en cuanto al proceso de la creatividad de los estudiantes, y dar un lugar de creatividad libre para cada estudiantes.</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <footer>
                            
                            <p>Fiusac © Derechos Reservados</p>
                            
                            <p>Creadores:</p> 
                            <p>Moises David Maldonado de Leon  - 202010833</p>
                            <p>Andy Ezequiel Sanic Tiul        - 202006699</p>
                            
                        </footer>
                    </div>
                </body>
                </html>